  .container{
    position: relative;
    width: 1200px;
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .container .a-href{
    font-size: small;
    margin-bottom: 10px;
  }

    .container .box{
    background: ghostwhite;
    margin-bottom: 20px;
    position: relative;
    width: 200px;
    
    margin: 5;
    padding: 25px;
    border: 1px solid palegreen;
  }

  .container .box .buttons{
    
    margin-top: 5px;

  }

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  nav {
    padding: 30px;
  }
  
  nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color: #42b983;
  }

  .post {
    margin-bottom: 40px;
  }
